/*text
style.css
---------
Par Stephane-OC
*/

/* Fonts */

@font-face{                                                    
    font-family: "Raleway-Regular"; 
    src: url("fonts/Raleway-Regular.ttf") format("truetype");
}
@font-face{ 
    font-family: "Raleway-ExtraBold";
    src: url("fonts/Raleway-ExtraBold.ttf") format("truetype");
}
@font-face{
    font-family: "Raleway-ExtraBoldItalic";
    src: url("fonts/Raleway-ExtraBoldItalic.ttf") format("truetype");
}
@font-face{  
    font-family: "Raleway-Light";
    src: url("fonts/Raleway-Light.ttf") format("truetype");
}
@font-face{
    font-family: "Raleway-VariableFont_wght";
    src: url("fonts/Raleway-VariableFont_wght.ttf") format("truetype"); 
}
@font-face{
    font-family: "Raleway-Medium"; 
    src: url("fonts/Raleway-Medium.ttf") format("truetype"); 
}
@font-face{
    font-family: "Raleway-ExtraLight"; 
    src: url("fonts/Raleway-ExtraLight.ttf") format("truetype");
}
@font-face{ 
    font-family: "Raleway-Bold"; 
    src: url("fonts/Raleway-Bold.ttf") format("truetype");                                                               
}
 

body
{
    font-family: "Raleway-regular", Arial, Verdana, sans-serif; /* Font style off all the page*/
    font-size: 100%;
    margin: 0px;
}

/*****************************************Header logo & navigation*****************************************/
header
{
    margin-top: 9px;
    align-items: center;
}

.logo
{
    width: 120px;
    margin-right: auto;
    margin-left: 40px;
    margin-top: 20px;

}

header a
{

    text-decoration: none;
    padding: 45px 20px;
}

.nav
{
    display: flex;
}

.navrent
{
    font-family: "raleway-regular", Arial, Verdana, sans-serif;
    font-size: 1.2em;
    margin: 20px 10px 40px 10px;
    padding: 20px;
    font-weight: bolder;
}

.navrent_text
{
    color: black;
}

.navactivities_text
{
    color: black;
}

.navactivities
{
    font-family: "raleway-regular", Arial, Verdana, sans-serif;
    font-size: 1.2em;
    margin: 20px 10px 40px 10px;
    padding: 20px;

    font-weight: bolder;
}

.navsubscribe
{
    font-family: "raleway-regular", Arial, Verdana, sans-serif;
    font-size: 1.2em;
    margin: 20px 10px 40px 10px;
    padding: 20px 20px 20px 20px;
    font-weight: bold;
    color: #0065FC;
}

.blue
{
    color: #0065FC;
}

.navrent a:hover /**** When i pass over the "Hébergement" link ****/
{
    border-top: 2.5px solid;
    color: #0065FC;
}

.navactivities a:hover /**** When i pass over the "Activitées" link ****/
{
    border-top: 2.5px solid;
    color: #0065FC;

}

.navactivities_text :hover
{
    border-top: 2.5px solid;
    color: #0065FC;
}

.navsubscribe a:hover /**** When i pass over the "S'incrire" link ****/
{
    font-family: 'raleway-extrabold';
}

/***************************************** End Header logo & navigation *****************************************/

/* Title and research*/

#titre_principal
{
    display: flex;
    flex-direction: column;
}

#mainh1
{
    font-family: "raleway-bold", Arial, Verdana, sans-serif;
    font-size: 1.5em;
    margin-left: 40px;
    margin-bottom: -5px;
}

#mainh2
{
    font-family: "raleway-light", Arial, Verdana, sans-serif;
    font-size: 1.0em;
    margin: 15px 0px 20px 40px;
}

.filter_h2
{
    font-family: "raleway-bold", Arial, Verdana, sans-serif;
    margin-left: 40px;
    font-size: 1.3rem;
}

.filters
{
    font-family: "raleway-regular", Arial, Verdana, sans-serif;
    margin-left: 40px;
}

.logement_h5
{
    font-family: "raleway-regular", Arial, Verdana, sans-serif;
    margin-left: 40px;
}

/***************************************** Searh bar *****************************************/
.researh
{
    display: flex;
    margin-left: 40px ;
}

.marker
{
    font-family: "raleway-regular", Arial, Verdana, sans-serif;
    display: flex;   
    background-color:#F2F2F2;
    justify-content: center; 
    align-items: center;
    width: 65px;
    min-width: 30px;
    height: 50px; 
    border-radius: 20px 0 0 20px;
}

.input
{
    border: none;
    border-top: solid #F2F2F2 1px;
    border-bottom: solid #F2F2F2 1px;
    font-family: "raleway-Bold", Arial, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1em;
    padding-left: 1em;
}

::placeholder
{
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: black;
    opacity: 0.8;
    padding-left: 0.1em;
    padding-right: 1.2em;
}

.submit
{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: #F2F2F2;
    background-color: #0065FC;
    color: white;
    font-family: 'raleway-bold', Arial, Verdana, sans-serif;;
    font-size: 1.2rem;
    padding: 10px 15px 10px 15px;
    border-width: 0.2px;
}

.submit:hover
{
    background-color: #60B4E4;
}

input:focus
{
    outline: none;
}

.searchicon
{
    display: none;
}
/***************************************** Filters *****************************************/
.filters
{
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-family: 'raleway-bold', Arial, Verdana, sans-serif;
}

.buttons_h2
{
    font-family: 'raleway-regular', Arial, Verdana, sans-serif;
    font-size: 1.4em;
    margin-left: 40px;
    margin-top: 1.8em;
    font-weight: bold;
}

.buttons_text
{
    margin-top: 0.7em;
    margin-left: 0.3em;
    font-size: 1.2em;
}

.button
{
    display: flex;
    background-color:#F2F2F2;
    justify-content: center; 
    align-items: center;
    background-color: #DEEBFF;
    color:  #0065FC;
    font-size: 1.2em;
    width: 50px;
    height: 50px; 
    border-radius: 100%;
}

.action-button
{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    text-align: center;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    padding-right: 20px;
    border-radius:40px;
    font-family: "raleway-regular", Arial, Verdana, sans-serif;
    color: black;
    text-decoration: none;
    background-color: white;
    border: 2px solid #F2F2F2;
    transition: all 0.8s;
    -webkit-transition: all 0.1s;
}



.action-button:hover
{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid #DEEBFF;
    background-color: #F2F2F2;
}

/***************************************** I Title *****************************************/
.h5_symbol
{
    display: flex;
    margin-left: 40px;
}

.h5_symbol h5
 {
    display: flex;
    align-items: center;
    font-family: "Raleway-ExtraLight", Arial, Verdana, sans-serif; 
    font-size: 1rem;
}

.h5_symbol i
{
    display: flex;
    color: #0065FC;
    border:#F2F2F2 solid 2px;
    width: 25px; 
    height: 25px;
    margin-top: 1.9em;
    margin-right: 0.2em;
    border-radius: 50%; 
    justify-content: center; 
    align-items: center;
}

/***************************************** Body *****************************************/

/******************* Contener 1 with 2 boxes*******************/
.conteneur
{
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
}

.shadow
{
    box-shadow: 5px 0px 13px #A0A0A0;
}


/******************* Box "Hébergement Marseille *******************/

.surround_box
{
    height: 770px;
    width: 75%;
    background-color: #F2F2F2;
    margin-right: 40px;
    border-radius: 20px;
    padding-right: 3em;
    padding-left: 3em
}

.box_rent
{
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 720px;
    width: 100%;
}

.rent_h3
{
    font-family: "raleway-bold", Arial, Verdana, sans-serif;
    font-size: 1.3em;
}

.article_rent
{
    display: flex;
    height: 40%;
    width: 30%;
    background-color: white;
    border-radius: 20px;
    margin: 0.3em;
    padding: 0.3em;
    overflow: hidden;
}

.art_rent
{
    display: flex;
    flex-direction: column;
}


.pics_rentcontain
{
    display: flex;
    height: 63%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

.rent_pics
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text_rent
{
    height: 37%;
    width: 100%;
    margin-top: 0em;
    line-height: 0.6em;
}

.rent_text
{
    font-family: "Raleway-Bold", Arial, Verdana, sans-serif;
    margin-left: 0.6em;
    margin-top: 1em;
    font-size: 1.1em;
    font-weight: bolder;
}

.rent_text2
{
    margin-left: 0.6em;
    margin-top: 1.3em;
}

.stars_rent
{   

    margin-bottom: 1em;
    margin-left: 0.6em;
    color: rgb(217,217,217);
    margin-top: 1.2em;
}

.more
{
    font-size: 1.2em;
    font-family: "Raleway-Bold", Arial, Verdana, sans-serif;
}

/******************* Box "The most populary" *******************/

.surround_box2
{
    height: 770px;
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 20px;
    font-family: "Raleway-regular", Arial, Verdana, sans-serif;

}

.box_popular
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #F2F2F2;
    border-radius: 20px;
    height: 670px;
    width: 100%;
}

.h3_populary
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Raleway-Bold", Arial, Verdana, sans-serif;
    font-size: 1.2em;
}

.populary_h3
{
    justify-content: flex-start;
    margin-left: 1.5em;
}

.h3_populary i 
{
    font-size: 1.3em;
    justify-content: flex-end;
    margin-right: 1.5em;
}

.article_populary
{
    height: 24%;
    width: 82%;
    border-radius: 20px;
    box-shadow: 0px 2px 13px grey;
    background-color: white;
    overflow: hidden;
    margin: 0.3em;
    padding: 0.3em;
    display: flex;
}

.art_populary
{
    display: flex;
}

.pics_populary
{
    height: 100%;
    width: 100%; 

    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populary_pics
{
    height: 100%;
    width: 40%;
    overflow: hidden;
    padding-bottom: 0.8em;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populary_text
{
    justify-content: space-between;
    text-align: inherit;
    vertical-align: top;
    height: 100%;
    width: 60%;
    line-height: 1em;
}

.text_populary
{
    margin-top: 0.5em;
    margin-left: 0.6em;
    font-size: 1.1em;
    padding-right: 4em;
    font-family: "Raleway-Extrabold", Arial, Verdana, sans-serif;
}

.text_populary2
{
    margin-left: 0.6em;
    margin-top: 1.6em;
    font-size: 1em;
    font-family: "Raleway-Regular", Arial, Verdana, sans-serif;
}

.text_populary3
{
    margin-top: 0.5em;
    margin-left: 0.6em;
    font-size: 1.1em;
    margin-right: 2em;
    font-family: "Raleway-Extrabold", Arial, Verdana, sans-serif;
}

.stars2
{
    margin-left: 0.6em;
    margin-top: 2.4em;
    font-size: 1em;
    color: rgb(217,217,217);
}
/******************* Contener 2 with 1 box *******************/

.conteneur2
{   
    margin: 40px 40px 100px 40px;
    display: flex;
}

.surround_box3
{
    height: 600px;
    width: 100%;
    border-radius: 20px;
}

/******************* Box activities *******************/

.box_activity
{
    height: 560px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}

.h3_activities
{
    font-size: 1.3em;
    font-family: "Raleway-bold", Arial, Verdana, sans-serif;
}

.text_activities
{
    height: 20%;
    width: 100%;
}

.sub_activities1
{
    margin-top: 1em;
    margin-left: 0.6em;
    font-size: 0.9em;
    font-weight: bold;
    overflow: hidden;
}

.h2_activities
{
    padding-left: 40px;
    font-family: "raleway-bold", Arial, Verdana, sans-serif;
}
/******************* Activities large Pictures *******************/

.article_actlarge
{
    height: 90%;
    width: 23%;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
}


.pics_actlargediv
{
    height: 90%;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}

.pics_act
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/******************* Activities Medium Pictures *******************/

.article_actmedium
{
    height: 50%;
    width: 23%;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
}

.pics_actmediumdiv
{
    height: 82%;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    overflow: hidden;
}

/******************* Activities Medium Small *******************/

.article_actsmall
{
    height: 30%;
    width: 23%;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
}

.pics_actsmalldiv
{
    height: 70%;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    overflow: hidden;
}


/***************************************** Footer opening *****************************************/

.footer_reservia
{
    display: flex;
    font-family: "Raleway-Regular", Arial, Verdana, sans-serif;
    background-color:#F2F2F2; /* Background grey */
    color: black; /* Footer text black */
    text-decoration: none;
    margin-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}

.footer_reservia ul
{
    
    padding-left: 0px; /*menu in left line with its title*/
    margin-bottom: 2px;
    margin-top: 20px;
}

.footer_reservia li
{
    list-style: none; /*to erase the default list style*/
    text-decoration:none; 
    line-height: 25px; 
}

a
{
    text-decoration: none; /*to erase the default style of text*/
    color: Black; 

}

/******************* 3 catégories in my flexbox who are share the same space *******************/

.about
{
    width: 33.33%;
    margin-top: 15px;
}


.about_h5
{
    font-family: "Raleway-Bold", Arial, Verdana, sans-serif;
    font-size: 1.2rem;
    margin-bottom: 15px;
}


.hebergements
{
    width: 33.33%;
    margin-top: 15px;
}

.hebergements_h5
{
    font-family: "Raleway-Bold", Arial, Verdana, sans-serif;
    font-size: 1.2rem;
    margin-bottom: 15px;
}


.help
{
    width: 33.33%;
    margin-top: 15px;
}

.help_h5
{
    font-family: "Raleway-Bold", Arial, Verdana, sans-serif;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

/***************************************** Responsive, little screen *****************************************/
    
@media screen and (max-width: 1280px)

{
    
/*********************************** Container rules ***********************************/
.conteneur
{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}
    
.surround_box:nth-child(1)                  /* CSS rule to invert 2 elements, here box 1 & 2*/
{
    order: 2;
}
    
.surround_box:nth-child(2)
{
    order: 1;
}

.filters
{
    display: flex;
    align-items: center;
    margin-left: 0px;
    font-family: 'raleway-bold', Arial, Verdana, sans-serif;
}

/*********************************** Rent Part 1280 ***********************************/
.text_rent
{
    height: 35%;
    width: 100%;
}

.surround_box
{
    height: 680px;
    width: 92%;
    background-color: #F2F2F2;
    border-radius: 20px; 
    margin-top: 40px;
}

.box_rent
{
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 520px;
    width: 100%;
    margin-bottom: 8.6em;
}

.article_rent
{
    height: 50%;
    width: 30%;
}

.rent_text
{
    font-family: "Raleway-Bold", Arial, Verdana, sans-serif;
    margin-left: 1em;
    margin-top: 0.4em;
    margin-right: 0.7em;
    font-size: 1em;
    font-weight: bolder;
}

.rent_text2
{
    margin-top: 1em;
    font-size: 1em;
    margin-left: 1em;
    margin-right: 0.6em;
}

.stars_rent
{
    margin-left: 0.9em;
    margin-top: 1.4em;
    color: rgb(217,217,217);
}


/*********************************** Most populary 1280 ***********************************/
.surround_box2
{
    height: 260px;
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 20px; 
    margin-bottom: 60px;
}

.box_popular
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F2F2F2;
    border-radius: 20px;
    height: 100%;
    width: 100%;
}

.article_populary
{
    height: 70%;
    width: 30%;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
}

.text_populary
{
    font-size: 0.9em;
    
    margin-left: 0.4em;
    margin-top: 1.2em;
    font-weight: bolder;
    font-family: "Raleway-bold", Arial, Verdana, sans-serif;
}

.text_populary2
{
    font-size: 0.9em;
    margin-left: 0.4em;
    margin-top: 2em;
    font-family: "Raleway-Regular", Arial, Verdana, sans-serif;
}

.text_populary3
{
    font-size: 0.9em;
    margin-left: 0.4em;
    margin-top: 1.2em;
    margin-right: 1.2em;
    font-weight: bold;
    font-family: "Raleway-bold", Arial, Verdana, sans-serif;
}

.stars2
{
    margin-bottom: 5em;
    margin-left: 0.4em;
    margin-top: 2.8em;
    font-size: 1em;
    color: rgb(217,217,217);
}

.more
{
    margin-top: 2.6em;
    font-size: 1.4em;
    font-family: "Raleway-Bold", Arial, Verdana, sans-serif;
}
/*********************************** Activities 1280 ***********************************/
.sub_activities1
{
    margin-left: 0.7em;
    font-weight: bold;
}
/***************************************** End of 1280px responsive *****************************************/
}

/***************************************** Responsive, touch pad *****************************************/








/******************** Responsive, touch pad Landscape ********************/
@media all and (max-width: 1024px){


.buttons_text
{
    margin-top: 1em;
    margin-left: 0.3em;
    font-size: 0.9em;
}    
/***************************************** Container 1 Tablette*****************************************/
.conteneur
{
    display: flex;
    flex-direction: column;
}

.surround_box:nth-child(1)                  /* CSS rule to invert 2 elements, here box 1 & 2*/
{
    order: 2;
}

.surround_box:nth-child(2)
{
    order: 1;
}

.buttons_h2
{
    font-family: 'raleway-regular', Arial, Verdana, sans-serif;
    font-size: 1.4em;
    margin-left: 40px;
    margin-top: 1.8em;
    font-weight: bold;
}
/***************************************** Hébergements touch pad *****************************************/

.surround_box
{
    height: 600px;
    width: 90%;
    background-color: #F2F2F2;
    border-radius: 20px; 
}

.box_rent
{
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 450px;
    margin-bottom: 8.6em;
}

.rent_h3
{
    font-family: "raleway-bold", Arial, Verdana, sans-serif;
    font-size: 1.3em;
    margin-top: 0.1em;
}

.text_rent
{
    height: 35%;
    width: 100%;
    justify-content: inherit;
    display: inline-block;
}

.rent_text
{
    font-family: "Raleway-Bold", Arial, Verdana, sans-serif;
    font-size: 1em;
    margin-left: 0.8em;
    margin-top: 0.6em;
    font-weight: bolder;
}

.rent_text2
{
    font-size: 0.9em;
    margin-left: 0.9em;
    margin-top: 0.8em;
}

.stars_rent
{
    font-size: 0.8em;
    margin-left: 0.9em;
    color: rgb(217,217,217);
    margin-top: 1.4em;
}

.more
{
    margin-top: 0em;
    font-size: 1.2em;
    font-family: "Raleway-Bold", Arial, Verdana, sans-serif;
}
/***************************************** Most polulary touch pad *****************************************/
.surround_box2
{
    height: 220px;
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 20px; 
    margin-bottom: 40px;
}

.article_populary
{
    height: 80%;
    width: 30%;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
}

.box_popular
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F2F2F2;
    border-radius: 20px;
    height: 90%;
    width: 100%;
}

.h3_populary
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Raleway-Bold", Arial, Verdana, sans-serif;
    font-size: 1.2em;
}

.populary_text
{
    justify-content: inherit;
    text-align: inherit;
    margin-left: 0.5em;
    height: 100%;
    width: 60%;
}

.text_populary
{
    font-size: 0.9em;
    margin-left: 0em;
    margin-top: 0.4em;
    font-family: "Raleway-bold", Arial, Verdana, sans-serif;
}

.text_populary2
{
    font-size: 0.9em;
    margin-left: 0em;
    font-family: "Raleway-Regular", Arial, Verdana, sans-serif;
}

.text_populary3
{
    font-size: 0.9em;
    margin-left: 0em;
    margin-top: 0.4em;
    font-weight: bold;
    font-family: "Raleway-bold", Arial, Verdana, sans-serif;
}

.stars2
{
    font-size: 1em;
    color: rgb(217,217,217);
    margin-left: 0em;
    margin-top: 2.4em;
}
/***************************************** Activities part touch pad*****************************************/

.conteneur2
{   
    margin: 20px 40px;
    display: flex;
}

.surround_box3
{
    height: 460px;
    width: 100%;
    border-radius: 20px;
    border-bottom: 40px;
}

.box_activity
{
    height: 380px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.text_activities
{
    height: 20%;
    width: 100%;
}

.sub_activities1
{
    margin-top: 0.7em;
    margin-left: 1em;
    font-size: 0.7em;
    font-weight: bold;
    font-family: "Raleway-bold", Arial, Verdana, sans-serif;
    overflow: hidden;
}


}
/***************************************** End of touch pad responsive *****************************************/
@media screen and (max-width: 900px){

.buttons_h2
{
    font-family: 'raleway-regular', Arial, Verdana, sans-serif;
    font-size: 1.4em;
    margin-left: 20px;
    margin-top: 1.8em;
    font-weight: bold;
}

.buttons_text
{
    margin-top: 1.4em;
    margin-left: 0.3em;
    font-size: 0.8em;
}
/***************************************** Rent 900px *****************************************/
.conteneur
{
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
}

.surround_box
{
    height: 600px;
    width: 89%;
    background-color: #F2F2F2;
    border-radius: 20px;

}

.box_rent
{
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 450px;
    margin-bottom: 8.6em;
}

.rent_h3
{
    font-family: "raleway-bold", Arial, Verdana, sans-serif;
    font-size: 1.2em;
    margin-top: 0.1em;
}


.rent_text
{
    font-family: "Raleway-Bold", Arial, Verdana, sans-serif;
    font-size: 0.8em;
    margin-left: 0.8em;
    margin-top: 0.4em;
    font-weight: bolder;
}

.rent_text2
{
    
    font-size: 0.8em;
    margin-left: 0.8em;
}

.stars_rent
{
    font-size: 0.8em;
    margin-left: 0.9em;
    color: rgb(217,217,217);
}

/***************************************** Populary 900px *****************************************/
.surround_box2
{
    height: 220px;
    width: 101%;
    background-color: #F2F2F2;
    border-radius: 20px; 
    margin-bottom: 40px;
}


.box_popular
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F2F2F2;
    border-radius: 20px;
    height: 90%;
    width: 100%;
}

.text_populary
{
    font-size: 0.8em;
    margin-left: 0em;
    margin-top: 0.4em;
    font-family: "Raleway-bold", Arial, Verdana, sans-serif;
}

.text_populary2
{
    font-size: 0.8em;
    margin-left: 0em;
    font-family: "Raleway-Regular", Arial, Verdana, sans-serif;
}

.text_populary3
{
    font-size: 0.8em;
    margin-left: 0em;
    margin-top: 0.4em;
    font-weight: bold;
    font-family: "Raleway-bold", Arial, Verdana, sans-serif;
}

.stars2
{
    font-size: 0.8em;
    color: rgb(217,217,217);
    margin-left: 0em;
    margin-top: 3em;
}

.sub_activities1
{
    margin-top: 0.8em;
    margin-left: 0.6em;
    font-size: 0.6em;
    font-weight: bold;
    overflow: hidden;
}
    
}

/***************************************** Responsive, Mobile *****************************************/


@media all and (max-device-width: 480px) {

body
{
    margin: 0px;
    padding: 0px;
    border: 0px;
}   


/***************************************** Header, Mobile *****************************************/

nav :nth-child(1)                  /* CSS rule to invert 2 elements, here box 1 & 2*/
{
    order: 1;
}

nav :nth-child(2)
{
    order: 3;
}

nav :nth-child(3)
{
    order: 4;
}

nav :nth-child(4)
{
    order: 2;
}

header
{
    font-family: 'raleway';
    text-decoration: none;
}

header a
{
    text-decoration: none;
    color: black;

}

/****** Nav have now the 3 buttons on 2 ligns ******/
nav
{
    width: 119%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-left: 0px;
    border-right: 0px;
}

.logo
{
    width: 40%;
}

.logo_reservia
{
    width: 15rem;
}

.navrent
{
    font-family: "raleway-regular", Arial, Verdana, sans-serif;
    font-size: 2.6em;
    margin-right: 0em;
    margin-left: 0em;
    padding-bottom: 0.8em;
    text-align: center;
    font-weight: bolder;
    display: inline-block;
    border-bottom: 5px solid #0065FC;
    width: 45%;
}

.navactivities
{
    font-family: "raleway-regular", Arial, Verdana, sans-serif;
    font-size: 2.6em;
    text-align: center;
    font-weight: bolder;
    display: inline-block;
    padding-bottom: 1.1em;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 5px solid #F2F2F2;
    width: 46%;
}

.navsubscribe
{
    font-family: "raleway-regular", Arial, Verdana, sans-serif;
    font-size: 2.8em;
    margin-right: 0em;
    width: 45%;
    padding-right: 1.4em;
    margin-top: 1em;
    font-weight: bold;
    color: #0065FC;
    text-align: right;
}

.navrent_text
{
    color: #0065FC;
}

.blue
{
    color: #0065FC;
}

.navrent a:hover 
{
    border-top: none;

}

.navactivities a:hover 
{
    border-top: none;
    border-bottom: 5px solid #0065FC;
    padding-left: 200px;
    padding-right: 200px;
    color: #0065FC;
}

.navsubscribe a:hover 
{
    font-family: 'raleway-extrabold' #0065FC;
}

.blue
{
    color: #0065FC;
}

/************ End of Nav physical buttons ************/

#mainh1
{
    font-family: "raleway-bold", Arial, Verdana, sans-serif;
    font-size: 4em;
    margin-left: 40px;
}

#mainh2
{
    font-family: "raleway-light", Arial, Verdana, sans-serif;
    font-size: 2.6em;
    margin: 15px 0px 20px 40px;
}

/***************************************** Searh bar, Mobile *****************************************/
.researh
{
    display: flex;
    justify-content: center;
    margin-left: 3em;
    width: 107%;
}

.marker
{
    font-family: "raleway-regular", Arial, Verdana, sans-serif;
    display: flex;   
    background-color:#F2F2F2;
    justify-content: center;
    color: black; 
    width: 160px;
    min-width: 30px;
    height: 150px; 
    font-size: 3em;
    border-radius: 40px 0 0 40px;
}

.input
{
    border: none;
    border-top: solid #F2F2F2 2.4px;
    border-bottom: solid #F2F2F2 2.4px;
    font-family: "raleway-Bold", Arial, Verdana, sans-serif;
    font-weight: bold;
    font-size: 2.4em;
    padding-left: 1em;
    padding-right: 1em;
    width: 680px;
}

::placeholder
{
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    color: black;
    opacity: 0.9;
}

.searchicon
{
    display: block;
    border-radius: 30px;
    width: 3em;
    border-color: #F2F2F2;
    background-color: #0065FC;
    color: white;
    font-family: 'raleway-bold', Arial, Verdana, sans-serif;;
    font-size: 3rem;
    justify-content: center;
    border-width: 0.2px;
}

.submit
{
    display: none;
}

.submit:hover
{
    background-color: #60B4E4;
}

input:focus
{
    outline: none;
}

/***************************************** Filters, Mobile *****************************************/

/****** Filters align in 2 ligns who make it easier for user ******/

.filters
{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    font-family: 'raleway-bold', Arial, Verdana, sans-serif;
    width: 100%;
}

.buttons_h2
{
    font-family: 'raleway-bold', Arial, Verdana, sans-serif;
    font-size: 1.6em;
    margin-top: 1.8em;
    margin-right: 30em;
    font-weight: bold;
}

.buttons_text
{
    margin-top: 0.4em;
    margin-left: 0.4em;
    font-size: 3em;
}

.button
{
    display: flex;
    background-color:#F2F2F2;
    justify-content: center; 
    align-items: center;
    background-color: #DEEBFF;
    color:  #0065FC;
    font-size: 2em;
    width: 100px;
    height: 100px; 
    border-radius: 100%;
}

.action-button 
{
    width: auto;
    height: 70px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    border-radius:80px;
    font-family: "raleway-regular", Arial, Verdana, sans-serif;
    color: black;
    text-decoration: none;
    background-color: white;
    border: 7px solid #F2F2F2;
    transition: all 0.8s;
    -webkit-transition: all 0.1s;
}

.action-button:hover /* Actually acting like a action button when hover */ 
{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid #DEEBFF;
    background-color: #F2F2F2;
}

.buttons_h2
{
    font-size: 2.6em;
}

.h5_symbol h5
 {
    display: flex;
    align-items: center;
    font-family: "Raleway-ExtraLight", Arial, Verdana, sans-serif; 
    font-size: 2.5rem;
 }

.h5_symbol i
{
    display: flex;
    align-items: center;
    color: #0065FC;
    border:#F2F2F2 solid 4px;
    font-size: 2.5rem;
    width: 100px; 
    height: 80px;
    margin-top: 1em;
    margin-left: 0em;
    border-radius: 80%; 
    justify-content: center; 
    align-items: center;
}
/***************************************** Container 1 Mobile *****************************************/

.conteneur
{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.surround_box
{
    height: auto;
    width: 100%;
    background-color: white;
}

.surround_box:nth-child(1)                  /* CSS rule to invert 2 elements, here box 1 & 2*/
{
    order: 2;
}

.surround_box:nth-child(2)
{
    order: 1;
}
/***************************************** Hébergements, Mobile *****************************************/

.box_rent
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    width: 100%;
    margin-bottom: 40px;
}

.article_rent /* All my hébergement content are align in one line*/
{
    height: 30em;
    width: 95%;/* To make my items take 95% width */
    background-color: white;
    border-radius: 40px;
    margin-left: 4em;
    margin-bottom: 2em;
    padding: 0.6em;
    overflow: hidden;
}

.pics_rentcontain
{
    display: flex;
    height: 60%;
    width: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    overflow: hidden;
}

.rent_pics
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text_rent
{
    height: 40%;
    width: 100%;
    line-height: 1.6em;
}

.rent_text
{
    font-family: "Raleway-ExtraBold", Arial, Verdana, sans-serif;
    font-size: 2.5em;
    margin-left: 0.8em;
    margin-top: 0.4em;
}

.rent_text2
{
    font-size: 2.4em;
    margin-left: 0.9em;
    margin-top: 0.1em;
}

.stars_rent
{
    font-size: 2.2em;
    margin-top: 0.5em;
    margin-left: 0.9em;
    color: rgb(217,217,217);
}

.more_div
{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: 15px;
    font-size: 2em;
}

.more
{
    font-family: "Raleway-ExtraBold", Arial, Verdana, sans-serif;
    margin-left: 45px;
}

.rent_h3
{
    font-family: "raleway-Extrabold", Arial, Verdana, sans-serif;
    font-size: 3em;
    margin-left: 60px;
}

/***************************************** Most populary, Mobile *****************************************/

.surround_box2
{
    height: auto;
    width: 101%;
    background-color: #F2F2F2;
    padding-left: 4em;
    padding-right: 7em;
    margin-bottom: 5em;
    align-items: center;
}

.box_popular
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 101%;
    margin-left: 0em;
    margin-right: 0em;
    padding-bottom: 3em;
}

.up_marker
{
    margin-right: 0em;
}

.h3_populary
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family: "Raleway-Bold", Arial, Verdana, sans-serif;
    font-size: 3em;
    width: 111%;

}

.populary_h3
{
    justify-content: flex-start;
    margin-left: 0.2em;

}

.h3_populary i 
{
    font-size: 1.4em;
}


.article_populary
{
    height: 24em;
    width: 95%;
    border-radius: 60px;
    background-color: white;
    overflow: hidden;
    padding: 0.4em;
    margin: 0.9em;
}

.pics_populary
{
    height: 100%;
    width: 100%; 
    object-fit: cover;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
}

.populary_text
{
    display: flex;
    display: block;
    flex-direction: column;
    justify-content: inherit;
    text-align: inherit;
    margin-left: 0.7em;
    height: 100%;
    width: 60%;
}


.text_populary
{
    display: flex;
    font-size: 2.8em;
    font-family: "Raleway-bold", Arial, Verdana, sans-serif;
    line-height: 1em;
}

.text_populary2
{
    display: flex;
    font-size: 2.6em;
    margin-top: 1.8em;
    font-family: "Raleway-Regular", Arial, Verdana, sans-serif;
}

.text_populary3
{
    display: flex;
    font-size: 2.8em;
    margin-right: 0em;
    font-family: "Raleway-Bold", Arial, Verdana, sans-serif;
    line-height: 1em;
}

.stars2
{
    display: flex;
    font-size: 2.5em;
    margin-top: 2.6em;
    color: rgb(217,217,217);
  
}

/**************************************** Box activities Mobile ******************************************/

.conteneur2
{   
    display: flex;
    width: 100%;
}

.surround_box3
{

    height: auto;
    width: 100%;
    padding-left: 4.6em;
}

/******************* Box activities *******************/

.box_activity
{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.h3_activities
{
    font-size: 3em;
    font-family: "Raleway-Extrabold", Arial, Verdana, sans-serif;
    display: flex;
}
/******************* Box 3 Photo 3 Articles *******************/

.article_actsmall
{
    height: 30em;
    width: 100%;/* To make my items take 95% width */
    border-radius: 40px;
    background-color: white;
    overflow: hidden;
    margin-bottom: 2em;
}

.article_actmedium
{
    height: 30em;
    width: 100%;/* To make my items take 95% width */
    border-radius: 40px;
    background-color: white;
    overflow: hidden;
    margin-bottom: 2em;
}

.article_actlarge
{
    height: 30em;
    width: 100%;/* To make my items take 95% width */
    border-radius: 40px;
    background-color: white;
    overflow: hidden;
    margin-bottom: 2em;
}

.pics_actsmalldiv
{
    height: 70%;
    width: 100%;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}

.pics_actmediumdiv
{
    height: 70%;
    width: 100%;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}

.pics_actlargediv
{
    height: 70%;
    width: 100%;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}


.text_activities
{
    height: 30%;
    width: 100%;
}

.sub_activities1
{
    margin-left: 1em;
    margin-top: 0.9em;
    font-size: 2.6em;
    font-family: "raleway-bold", Arial, Verdana, sans-serif;
    overflow: hidden;
}

.h2_activities
{
    font-family: "raleway-bold", Arial, Verdana, sans-serif;
}


/***************************************** Footer Mobile opening *****************************************/

.footer_reservia
{
    display: flex;
    display:inline-block;
    width: 102%;
    font-family: "Raleway-Regular", Arial, Verdana, sans-serif;
    background-color:#F2F2F2; /* Background grey */
    color: black; /* Footer text black */
    text-decoration: none;
    padding-left: 10em;
    padding-right: 0.5em;
    background-size: cover;
}

.footer_reservia ul
{
    display: flex;
    flex-direction: column;
    padding-left: 0px; /*menu in left line with its title*/
    margin-bottom: 2px;
    margin-top: 20px;
}

.footer_reservia li
{
    display: flex;
    flex-direction: column;
    list-style: none; /*to erase the default list style*/
    text-decoration:none; 
    line-height: 50px;
}

.footer_reservia a
{
    text-decoration: none; /*to erase the default style of text*/
    color: Black;
    margin-bottom: 10px; 
}

/******************* 3 mobile catégories footer catégories column *******************/

.about
{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
    font-size: 2.5em;
}

.about li   
{
    padding: 8px;
}

.about_h5
{
    display: flex;
    flex-direction: column;
    font-family: "Raleway-Bold", Arial, Verdana, sans-serif;
    font-size: 1.2em;
    margin-bottom: 15px;
}

.hebergements
{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
    font-size: 2.5em;
}

.hebergements li
{
    padding-bottom: 8px;
}

.hebergements_h5
{
    font-family: "Raleway-Bold", Arial, Verdana, sans-serif;
    font-size: 1.2em;
    margin-bottom: 15px;
}

.help
{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
    font-size: 2.5em;
}

.help li
{
    padding-top: 8px;
}

.help_h5
{
    font-family: "Raleway-Bold", Arial, Verdana, sans-serif;
    font-size: 1.2em;
    margin-bottom: 15px;
}
/***************************************** End of mobile responsive *****************************************/
}